.mainDiv{
    display: flex;
    width: 100%;
}

.div1{
    flex: 1;
}

.div2{
    flex: 1;
}


.div2 h4{
    color: royalblue;
    font-size: 18px;
}



/* ------------------------------------------------------------------------------------------------- */



.buttondiv button{
    border-bottom: none;
    padding: 20px 24px 26px 24px;
    margin-right: 20px;
    background-color: white;
    border-radius: 10px;
    border: "1px solid";
    border-color: rgba(102, 102, 102, 0.246);
    text-transform: uppercase;
}


